<app-page-header icon="home" url="/home" text="Home">

</app-page-header>
<div class="container-fluid">
  <div>
    <mat-card>

      <mat-card-header class="d-flex aligns-items-center justify-content-center">
        <mat-card-title>All Medication</mat-card-title>
        <!--<mat-card-subtitle>Start</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        
        <div class="row gx-5 gy-3">

          <div class="col-md-12">

            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header hidden> ID </mat-header-cell>
                <mat-cell *matCellDef="let row" hidden> {{row.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="pin">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PIN </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdBy.pin}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="medicationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Medication </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.medicationName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dosage">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Dosage </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.dosage}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="prescriptionDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Prescription Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.prescriptionDate | date}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="displayName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdBy.displayName}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.createdBy.createdDate | date}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/product/detail/',row.id]"> -->
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]"></mat-paginator>



          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
