


  <mat-form-field appearance="outline">
    <mat-label>Units</mat-label>
    <mat-select [(ngModel)]="selectedUnitValue" name="food" (selectionChange)="changeEvent()">
      <mat-option *ngFor="let unit of allUnits" [value]="unit.id">
        {{unit.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 

  <!-- <ng-select [items]="allUnits" 
  bindLabel="name" 
  class="form-control form-control-lg" 
  appendTo="body"
    [multiple]="isMultiple" 
    [searchable]="true" 
    [clearable]="true" 
    [closeOnSelect]="true" 
    [(ngModel)]="selectedUnit"
    style="width: 100%;height: 100%;" 
    [ngModelOptions]="{standalone: true}" 
    (change)="changeEvent()"
    >

    <ng-template ng-header-tmp>
      Units
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">

      {{item.name}}
    </ng-template>    
  </ng-select> -->
 
  